{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="jumbotron col-md-6 col-md-offset-3 col-sm-offset-2 col-sm-8 col-xs-12"
         style="position: fixed; top:20%;padding-top: 20px;">
        <h3 align="center">Here you can change your password</h3>
        <br>
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% if form.errors.items|length == 1 %}Please correct the error below. {% else %}Please correct the errors below{% endif %}
                    {{ form.old_password.errors }}
                    {{ form.new_password1.errors }}
                    {{ form.new_password2.errors }}
                </div>
            {% endif %}
            <div class="form-group">
                <label class="control-label col-xs-3" for="id_username">Old password</label>
                <div class="col-sm-8 col-xs-9">{{ form.old_password|add_class:'form-control' }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="id_password">New password</label>
                <div class="col-sm-8 col-xs-9">{{ form.new_password1|add_class:'form-control' }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="id_password">New password confirmation</label>
                <div class="col-sm-8 col-xs-9">{{ form.new_password2|add_class:'form-control' }}</div>
            </div>
            <button class="col-xs-offset-5 btn btn-success" type="submit">Let's change!</button>
        </form>
    </div>
{% endblock %}