{% extends 'base.html' %}
{% load static %}

{% block static %}
    {{block.super}}
    <script src="{% static 'teams/like.js' %}"></script>
{% endblock %}

{% block navbar %}
    {% if request.user.team %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block teams_active %}
    class="active"
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container img-round" style="background-color: white">
        <h2 align="center">This Is Fundamentals of Programming Project!</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover" title="teams" style="text-align: center;">
                <thead>
                <tr>
                    <th>Team name</th>
                    <th>Member 1</th>
                    <th>Member 2</th>

                    <th>
                    {% if request.user.team %}
                        Who are you?<br>
                        <select id="members">
                            {% for member in request.user.team.members.all %}
                            <option value="{{member.id}}">{{member.name}}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        <a href="{% url 'team:login' %}"><button class="btn btn-info">login to like</button></a>
                    {% endif%}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                    <tr>
                        <td><strong>{{ team.name }}</strong>{% if request.user.team == team %}
                            <span class="label label-success">Your team!</span>
                        {% endif %}</td>
                        <input type="hidden" id="team-{{forloop.counter}}" value="{{team.id}}">
                        {% with team.members.count as count %}
                            {% for member in team.members.all %}

                                {% if forloop.counter <= 2 %}
                                    <td>
                                {% endif %}

                            {{ member.name }}

                            {% if forloop.counter > 1 and forloop.counter < count %}
                                <br>
                            {% endif %}

                            {% if forloop.counter == 1 or forloop.counter == count %}
                                </td>
                            {% endif %}

                            {% endfor %}
                        {% endwith %}
                        <td>
                            <span class="glyphicon glyphicon-heart like" id="{{ forloop.counter }}"
                                  style="color:red;cursor:pointer"></span>
                            <span id="votes-{{ forloop.counter }}" style="color:red">{{ team.votes }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <footer align="center">
                Glyphicons by <a href="http://glyphicons.com/">Glyphicons</a>
            </footer>
        </div>
    </div>
    <span id="votes">
    {% if request.user.team %}
        {% for member in request.user.team.members.all %}
            {% for team, valid in member.votes_list %}
                <input id="vote-{{member.id}}-{{team}}" type="hidden" value="{{valid}}">
            {% endfor %}
        {% endfor %}
    {% endif%}
    </span>
{% endblock %}