{% extends 'base.html' %}
{% load static %}

{% block static %}
    {{block.super}}
    <script src="{% static 'teams/like.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="container" style="background-color: white">
        <h2 align="center">This is Fop Project!</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover" title="teams" style="text-align: center;">
                <thead>
                <tr>
                    <th>Team name</th>
                    <th>Members</th>
                    <th>
                    {% if request.user.team %}
                        Who are you for voting?
                        <select id="members">
                            {% for member in request.user.team.members.all %}
                            <option value="{{member.student_id}}">{{member.name}}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        Please login your team to like/dislike
                    {% endif%}
                    </th>
                    <th>Votes</th>
                </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.name }}</td>
                        <input type="hidden" id="team-{{forloop.counter}}" value="{{team.username}}">
                        {% with team.members.count as count %}
                            {% for member in team.members.all %}

                                {% if forloop.counter <= 2 %}
                                    <td>
                                {% endif %}

                            {{ member.name }}

                            {% if forloop.counter > 1 and forloop.counter < count %}
                                <br>
                            {% endif %}

                            {% if forloop.counter == 1 or forloop.counter == count %}
                                </td>
                            {% endif %}

                            {% endfor %}
                        {% endwith %}
                        <td>
                            <span class="glyphicon glyphicon-heart like" row="{{forloop.counter}}" style="color:red"></span>
                            <span id="votes-{{forloop.counter}}" style="color:red">{{team.votes}}</span>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}