{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bootstrap.min.css"%}">
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js'%}"></script>
    <title>{% block title %}FoP Project
    {% endblock %}</title>
</head>

<style>
body{
    background-color: darkslategray;
}
</style>


<body>
    {% block content %}
    {% endblock %}
</body>

</html>